.expensesList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.expenseItem {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background: var(--color-bg-secondary);
}

.itemTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.itemMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  border-top: 0.5px solid var(--color-border-input);
  border-bottom: 0.5px solid var(--color-border-input);
}

.itemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseAmount {
  color: var(--color-text-primary);
  font-size: 1.15rem;
  font-weight: 600;
}

.expenseCategory {
  color: var(--color-text-primary);
  font-size: 1.05rem;
  max-width: 40%;
  font-weight: 500;
}

.goal {
  color: var(--color-success);
  font-size: 1.05rem;
  font-weight: 500;
}

.expenseDescription {
  color: var(--color-text-secondary);
  font-size: 1rem;
  font-weight: 450;
}

.expenseDate {
  color: var(--color-text-primary);
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .expenseCategory {
    font-size: 0.9rem;
  }
  .expenseAmount {
    font-size: 0.95rem;
  }
  .expenseDescription {
    font-size: 0.85rem;
  }
  .expenseDate {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .expenseCategory {
    font-size: 0.7rem;
  }
  .expenseAmount {
    font-size: 0.8rem;
  }
  .expenseDescription {
    font-size: 0.8rem;
  }
  .expenseDate {
    font-size: 0.85rem;
  }
}
