.percentile {
  min-height: 100vh;
  background: var(--color-bg-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.links {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.link {
  color: var(--color-link);
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s color ease-in-out;
}

.link:hover {
  color: var(--color-link-hover);
  animation: animateHover ease-in-out 0.8s infinite;
}

@keyframes animateHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
