.viewPage {
  min-height: 100vh;
  background: var(--color-bg-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.notLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}

.notLoggedInText {
  color: var(--color-text-primary);
  font-size: 2rem;
}

.link {
  color: var(--color-link);
}

.content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.totalAmount {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-text-total);
  box-shadow: 0px 13px 28px -3px var(--color-shadow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.totalAmount:hover {
  transform: translateY(-2.5px);
}

.totalTitle {
  font-size: 1.8rem;
  opacity: 0.8;
}

.expensesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: auto;
  gap: 5px;
  list-style: none;
  word-break: break-word;
  overflow-wrap: anywhere;
  text-align: center;
  width: 100%;
}

.modalContent {
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  word-break: break-word;
  overflow-wrap: anywhere;
  flex-wrap: nowrap;
  text-align: center;
}

.modalCategory {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.modalAmount {
  font-size: 1.6rem;
}

.modalDescription {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.modalDate {
  font-size: 1.4rem;
}

.modalDesc {
  color: var(--color-text-secondary);
}

.footer {
  margin: 20px 0 20px 0;
}
