.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.searchMonths {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .search {
    flex-direction: column;
  }

  .searchInput {
    max-width: 360px;
  }

  .searchMonths {
    max-width: 360px;
  }
}
