.goalsPage {
  min-height: 100vh;
  background: var(--color-bg-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.goalsInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  gap: 6px;
}

.infoTitle {
  font-family: "Montserrat", sans-serif;
}

.totalTitle {
  color: var(--color-text-secondary);
  font-size: 1.75rem;
}

.completedGoals {
  color: var(--color-text-secondary);
  font-size: 1.25rem;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .helper {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .helper {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .helper {
    font-size: 0.785rem;
  }
}
