.linkButton {
  border: 1px solid var(--border-link-btn);
  padding: 12px 24px;
  color: var(--color-link-btn);
  border-radius: 10px;
  font-size: 25px;
  background-color: var(--color-bg-link-btn);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.linkButton:hover {
  transform: scale(1.09) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1);
  background-color: var(--hover-link-btn);
}
