.linkButton {
  border: 1px solid var(--color-card-border-secondary);
  padding: 12px 24px;
  color: var(--color-btn-text-primary);
  border-radius: 10px;
  font-size: 25px;
  background-color: var(--color-card-bg-secondary);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.linkButton:hover {
  transform: scale(1.09) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  opacity: 1;
  filter: brightness(1);
  background-color: var(--color-card-hover-secondary);
}
