.home {
  min-height: 100vh;
  background: var(--color-bg-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addExpense {
  margin: 20px 0 40px 0;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

.loadingText {
  color: var(--color-text-secondary);
  margin-bottom: 10px;
  font-size: 2rem;
}

.totalAmount {
  color: var(--color-text-primary);
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.expenses {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.footer {
  margin: 20px 0 20px 0;
}
