.navButton {
  border: 1px solid var(--color-border);
  padding: 12px 24px;
  color: var(--color-btn-text-primary);
  border-radius: 12px;
  font-size: 15px;
  background-color: var(--color-btn-bg-primary);
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;
}

.navButton:hover {
  background-color: var(--color-btn-hover-primary);
  animation: animateHover ease-in-out 1.2s infinite;
}

@keyframes animateHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
