.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--color-text-primary);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  cursor: pointer;
  padding: 12px;
  transition: 0.3s background-color ease-in-out;
}

.logo:hover {
  background-color: var(--color-bg-hover);
  animation: animateHover ease-in-out 0.8s infinite;
}

.authLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.link {
  color: var(--color-link);
  padding: 12px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s color ease-in-out;
}

.link:hover {
  color: var(--color-link-hover);
  animation: animateHover ease-in-out 0.8s infinite;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logoutBtn,
.toDbBtn {
  border: 1px solid var(--color-border);
  padding: 12px 24px;
  color: var(--color-text-primary);
  border-radius: 12px;
  font-size: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;
}

.logoutBtn:hover,
.toDbBtn:hover {
  background-color: var(--color-bg-hover);
  animation: animateHover ease-in-out 0.8s infinite;
}

@keyframes animateHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
