.content {
  margin: 20px 0 20px 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.noExpenses {
  color: var(--color-text-secondary);
  font-size: 1.8rem;
}
