.inputs {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.helper {
  text-align: center;
  color: var(--color-text-primary);
  font-size: 1.125rem;
}

@media (max-width: 1024px) {
  .helper {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .helper {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .helper {
    font-size: 0.785rem;
  }
}
