.notLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px 0;
}

.notLoggedInText {
  color: var(--color-text-primary);
  font-size: 2rem;
}

.link {
  color: var(--color-link);
}

.chartContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chartTitle {
  color: var(--color-text-primary);
  margin: 20px 0 20px 0;
}
