.chartContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chartTitle {
  color: var(--color-text-primary);
  margin: 20px 0 20px 0;
}
