.modalBox {
  background-color: #2a54ca;
  border: 1px solid rgba(56, 189, 248, 0.3);
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(56, 189, 248, 0.15);
  padding: 16px;
  min-width: 320px;
  max-width: 60vw;
  max-height: 60vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  z-index: 2000;
  outline: none;
  position: relative;
}

.closeBtn {
  position: absolute !important;
  top: 12px;
  left: 12px;
}
