.drawer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.drawerHeader {
  text-align: center;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .drawer {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .drawer {
    width: 220px;
  }
}
