.drawerBtn {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
  padding: 12px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease;
}

.drawerBtn:hover {
  color: #fff;
  background-color: #444444;
}

.text {
  font-size: 28px;
}

@media (max-width: 768px) {
  .text {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 18px;
  }
}
